@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
   :root {
    --background: 27 27 27;
    --foreground: 225 225 225;
    --muted: 115 115 115;
    --accent: 225 165 0;
  }

}

@layer utilities {
  .pause {
    animation-play-state: paused;
  }

   .c-space {
    @apply sm:px-10 px-5;
  }

  .custom-bg {
      @apply bg-background/20 border border-accent/30 border-solid;
      }
      
      .glass {
        background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        border: 0.5px solid rgba(255, 255, 255, 0.18);
        box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
      }
      
      .scroll-watcher {
        height: 10px;
        position: fixed;
        top: 0;
        z-index: 1000;
        background-color: aqua;
        width: 100%;
        scale: 0 1;
        transform-origin: left;
        animation: scroll-watcher linear;
        animation-timeline: scroll();
      }
.button {
  overflow: hidden;
}

.button .hamburger {
  transition: translate 1s, rotate 1s;
}

.button[aria-expanded="true"] .hamburger {
  translate: 2px 2px;
  rotate: 45deg;
}

.button .line {
  transition: 1s;
  stroke-dasharray: 60 31 60 300;
}

.button[aria-expanded="true"] .line {
  stroke-dasharray: 60 105 60 300;
  stroke-dashoffset: -90;
}
}

@keyframes scroll-watcher {
  to {
    scale: 1 1;
  }
}
@keyframes move {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(100px, 100px);
  }
}